head
  link(rel="stylesheet", href="./css/reset.css")
  link(rel="stylesheet", href="./css/test.css")
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <script type="text/javascript" src="./js/main.js" defer></script>


body
  //- HERO
  .hero
    //- MENU
    .menu
      .logo
        | .coasts.
      .nav
        a(href="#")
          img(src="./images/search-white.svg", alt="").searchBtn
        a(href="#")
          img(src="./images/more-white.svg", alt="").moreBtn
      .sidebar
        .empty
        img(src="./images/choose-circle-white.svg", alt="").cur-dot
        img(src="./images/circle-white.svg", alt="").dot
        img(src="./images/circle-white.svg", alt="").dot
        img(src="./images/circle-white.svg", alt="").dot
        img(src="./images/circle-white.svg", alt="").dot
      .explore
        span
          | DISCOVER
        button.go-down-btn
          img(src="./images/down-arrow.svg", alt="")
      .footer
        span.curPage 01
        span.delimPage &nbsp; &nbsp; / &nbsp; &nbsp;
        span.totalPage 05
    //- FIRST PAGE
    .p1
      img(src="./images/hero.jpg", alt="").hero-img
      .title
        | TRAVEL BLOG
      .content
        .C-letter
          | C
        .peaks
          | .ELBRUS.PEAKS.
    //- SECOND PAGE
    .p2
      .p2-top.WrpTransDown
        img(src="./images/p2-top.jpg", alt="").ImgTransUp
      .p2-bottom.WrpTransUp
        img(src="./images/p2-bottom.jpg", alt="").ImgTransDown
      .p2-content
        .content-category
          span FACTS
        .content-title
          .WrpTransDown.delayTime_1800
            .ImgTransUp.delayTime_1800 POWERS OF A
          .WrpTransDown.delayTime_1800
            .ImgTransUp.delayTime_1800 LIVING VOLCANO
        .content-description
          .WrpTransLeft.delayTime_1900
            .ImgTransRight.delayTime_1900 Mount Elbrus was formed more than 2.5 milion years ago. The volcanno is currently considered dormant. Elbrus was active in the Holocence, and acording to the Global Volcanism Program, the last eruption took place about AD 500.
          br
          .WrpTransLeft.delayTime_2000
            .ImgTransRight.delayTime_2000 Evidence of recent volcanism includes several lava flows on the mountain, which look fresh, and roughly 260.
